@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'DM Sans', sans-serif;
}

.font-theme {
  font-family: 'Londrina Solid', cursive;
  letter-spacing: 1px;
}

body {
  overflow-x: hidden;
}